In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Analysing

In [16]:
# pattern: database_vendor://user:password@host_name:port/database_name
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

## green_tripdata

In [ ]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz')
df = (
    df
    .assign(
        lpep_pickup_datetime = lambda df: pd.to_datetime(df.lpep_pickup_datetime),
        lpep_dropoff_datetime = lambda df: pd.to_datetime(df.lpep_dropoff_datetime)
    )
)

In [17]:
table_name = "yellow_taxi_data"
print(pd.io.sql.get_schema(df, name=table_name,  con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [18]:
df.head(0).to_sql(name=table_name, con=engine, if_exists='replace')

0

## lookup table

In [4]:
df_lookup = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_lookup

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [5]:
df_lookup.to_sql(name='zones', con=engine, if_exists='replace')

265

# Analysing

In [ ]:
(
    df
    .query('(lpep_pickup_datetime.dt.day == 18)')
    .merge(df_zone[['LocationID', 'Borough']], left_on='PULocationID', right_on='LocationID',  how='left')
    .groupby('Borough')
    .agg(
        sum_borough_pu = ('total_amount','sum')
    )
    .sort_values('sum_borough_pu')
)

               sum_borough_pu
Borough
Staten Island          342.59
Unknown                728.75
Bronx                32830.09
Queens               78671.71
Manhattan            92271.30
Brooklyn             96333.24

In [ ]:
(
    df
    .merge(df_zone[['LocationID', 'Borough', 'Zone']], left_on='PULocationID', right_on='LocationID',  how='left')
    .merge(df_zone[['LocationID', 'Borough', 'Zone']], left_on='DOLocationID', right_on='LocationID',  how='left', suffixes=('_PU', '_DO'))
    .query('Zone_PU=="Astoria"')
    .query('tip_amount == tip_amount.max()')
)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,total_amount,payment_type,trip_type,congestion_surcharge,LocationID_PU,Borough_PU,Zone_PU,LocationID_DO,Borough_DO,Zone_DO
98185,2.0,2019-09-08 18:10:40,2019-09-08 18:44:42,N,1.0,7,132,1.0,14.05,40.0,...,103.11,1.0,1.0,0.0,7,Queens,Astoria,132,Queens,JFK Airport

# Ingestion