In [1]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
import requests
import os

In [3]:

years = {
    'green': [2019, 2020],
    'fhv': [2019],
    'yellow': [2019, 2020],
}
for type_taxi in years.keys():
    dfs = []
    for year in years[type_taxi]:
        for month in range(1,13):
            file_name = f"{type_taxi}_tripdata_{year}-{month:02d}.csv.gz"
            url = f"https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{type_taxi}/{file_name}"
            local_folder = f'./ny_taxi_data/{type_taxi}'
            os.makedirs(local_folder, exist_ok=True)
            response = requests.get(url)
            if response.status_code == 200:
                # Write the content to the file
                with open(f'{local_folder}/{file_name}', 'wb') as file:
                    file.write(response.content)
                print(f"File downloaded to: {local_folder}")
            else:
                print(f"Failed to download file. Status code: {response.status_code}")

File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/green
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/fhv
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow
File downloaded to: ./ny_taxi_data/yellow

In [2]:
dfs = []
for month in range(1,13):
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-{month:02d}.parquet'
    print(url)
    try:
        schema = pa.schema([
            ('dispatching_base_num', pa.string()),
            ('pickup_datetime', pa.string()),
            ('dropOff_datetime', pa.string()),
            ('PUlocationID', pa.float64()),
            ('DOlocationID', pa.float64()),
            ('SR_Flag', pa.float64()),
            ('Affiliated_base_number', pa.string())
        ])
        df = pd.read_parquet(url, schema=schema)
    except pa.ArrowInvalid:
        response = requests.get(url)
        if response.status_code == 200:
            # Write the content to the file
            with open(f'./{file_name}', 'wb') as file:
                file.write(response.content)
        df = pq.read_table(f'./{file_name}', schema=schema)
        df = df.to_pandas()
        print(f'Month {month:02d} not included')
    
    dfs.append(df)

df = pd.concat(dfs, axis=0, ignore_index=True)

https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-01.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-02.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-03.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-04.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-05.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-06.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-07.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-08.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-09.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-10.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-11.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-12.parquet

In [16]:
month=9
file_name = f'fhv_tripdata_2019-{month:02d}.parquet'
url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/{file_name}'

response = requests.get(url)
if response.status_code == 200:
    # Write the content to the file
    with open(f'./{file_name}', 'wb') as file:
        file.write(response.content)

schema = pa.schema([
    ('dispatching_base_num', pa.string()),
    ('pickup_datetime', pa.string()),
    ('dropOff_datetime', pa.string()),
    ('PUlocationID', pa.float64()),
    ('DOlocationID', pa.float64()),
    ('SR_Flag', pa.float64()),
    ('Affiliated_base_number', pa.string())
])
df = pq.read_table(f'./{file_name}', schema=schema)

df.to_pandas().assign(
    pickup_datetime = lambda df: pd.to_datetime(df.pickup_datetime.str.replace('3019','2019').str.replace('2919','2019').str.replace('5201','2019')),
    dropOff_datetime = lambda df: pd.to_datetime(df.dropOff_datetime.str.replace('3019','2019').str.replace('2919','2019').str.replace('5201','2019')),
)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-09-01 00:35:00,2019-09-01 00:59:00,264.0,264.0,NaN,B00009
1,B00009,2019-09-01 00:48:00,2019-09-01 01:09:00,264.0,264.0,NaN,B00009
2,B00014,2019-09-01 00:16:18,2019-09-02 00:35:37,264.0,264.0,NaN,B00014
3,B00014,2019-09-01 00:55:03,2019-09-01 01:09:35,264.0,264.0,NaN,B00014
4,B00014,2019-09-01 00:13:08,2019-09-02 01:12:31,264.0,264.0,NaN,B00014
...,...,...,...,...,...,...,...
1248515,B03157,2019-09-30 23:29:16,2019-09-30 23:37:57,264.0,265.0,NaN,B03157
1248516,B03164,2019-09-30 23:50:43,2019-10-01 00:01:06,264.0,167.0,NaN,B03164
1248517,B03257,2019-09-30 23:07:02,2019-09-30 23:28:20,NaN,177.0,NaN,B03065
1248518,B03257,2019-09-30 23:19:41,2019-10-01 00:09:15,NaN,89.0,NaN,B02844
1248519,B03257,2019-09-30 23:40:01,2019-09-30 23:56:19,NaN,119.0,NaN,B02871

In [4]:
df

pyarrow.Table
dispatching_base_num: string
pickup_datetime: string
dropOff_datetime: string
PUlocationID: double
DOlocationID: double
SR_Flag: double
Affiliated_base_number: string
----
dispatching_base_num: [["B00037","B00037","B00037","B00037","B00037",...,"B02536","B02537","B02537","B02537","B02537"],["B02537","B02546","B02546","B02546","B02546",...,"B02107","B02107","B02107","B02107","B02107"],...,["B00887","B00887","B00887","B00887","B00887",...,"B00254","B00254","B00254","B00254","B00254"],["B00254","B00254","B00254","B00254","B00254",...,"B03129","B03157","B03157","B03157","B03177"]]
pickup_datetime: [["2019-02-01 00:08:44.000000","2019-02-01 00:27:51.000000","2019-02-01 00:18:30.000000","2019-02-01 00:43:15.000000","2019-02-01 00:01:45.000000",...,"2019-02-03 01:45:50.000000","2019-02-03 01:52:55.000000","2019-02-03 01:47:37.000000","2019-02-03 01:34:37.000000","2019-02-03 01:31:45.000000"],["2019-02-03 01:51:45.000000","2019-02-03 01:06:30.000000","2019-02-03 01:15:39.000000","2019-02-03 01:27:21.000000","2019-02-03 01:09:44.000000",...,"2019-02-05 10:20:13.000000","2019-02-05 10:41:30.000000","2019-02-05 10:32:38.000000","2019-02-05 10:56:10.000000","2019-02-05 10:55:15.000000"],...,["2019-02-27 05:20:51.000000","2019-02-27 05:15:15.000000","2019-02-27 05:28:55.000000","2019-02-27 05:05:31.000000","2019-02-27 05:40:01.000000",...,"2019-02-28 22:37:26.000000","2019-02-28 22:22:03.000000","2019-02-28 22:57:43.000000","2019-02-28 22:00:46.000000","2019-02-28 22:59:00.000000"],["2019-02-28 22:29:05.000000","2019-02-28 22:59:18.000000","2019-02-28 22:10:25.000000","2019-02-28 22:30:01.000000","2019-02-28 22:18:40.000000",...,"2019-02-28 23:55:25.000000","2019-02-28 23:35:26.000000","2019-02-28 23:13:40.000000","2019-02-28 23:18:45.000000","2019-02-28 23:45:40.000000"]]
dropOff_datetime: [["2019-02-01 00:23:35.000000","2019-02-01 00:32:54.000000","2019-02-01 00:25:45.000000","2019-02-01 00:48:29.000000","2019-02-01 00:09:13.000000",...,"2019-02-03 01:47:40.000000","2019-02-03 02:10:19.000000","2019-02-03 01:52:44.000000","2019-02-03 01:40:16.000000","2019-02-03 01:42:37.000000"],["2019-02-03 02:04:25.000000","2019-02-03 01:14:02.000000","2019-02-03 01:38:19.000000","2019-02-03 01:40:47.000000","2019-02-03 01:14:42.000000",...,"2019-02-05 10:27:27.000000","2019-02-05 12:40:39.000000","2019-02-05 10:42:30.000000","2019-02-05 11:03:08.000000","2019-02-05 11:13:57.000000"],...,["2019-02-27 05:35:18.000000","2019-02-27 05:39:42.000000","2019-02-27 05:59:39.000000","2019-02-27 05:34:21.000000","2019-02-27 06:00:54.000000",...,"2019-03-01 00:02:20.000000","2019-02-28 22:56:47.000000","2019-02-28 23:39:28.000000","2019-02-28 23:20:12.000000","2019-02-28 23:40:39.000000"],["2019-02-28 23:11:45.000000","2019-02-28 23:45:34.000000","2019-02-28 23:16:03.000000","2019-02-28 23:09:02.000000","2019-02-28 23:05:51.000000",...,"2019-03-01 00:06:18.000000","2019-02-28 23:39:00.000000","2019-02-28 23:17:24.000000","2019-02-28 23:56:57.000000","2019-02-28 23:49:41.000000"]]
PUlocationID: [[264,264,264,264,264,...,264,264,264,264,264],[264,264,264,264,264,...,264,264,264,264,264],...,[264,264,264,264,264,...,13,87,260,87,13],[162,237,237,13,163,...,94,264,264,264,264]]
DOlocationID: [[265,265,265,265,265,...,264,265,265,265,265],[265,265,265,265,265,...,265,265,265,265,265],...,[265,265,265,265,265,...,265,65,65,220,68],[263,246,25,106,249,...,169,265,265,265,265]]
SR_Flag: [[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null],...,[null,null,null,null,null,...,null,null,null,null,null],[null,null,null,null,null,...,null,null,null,null,null]]
Affiliated_base_number: [["B00037","B00037","B00037","B00037","B00037",...,"B02536","B02537","B02537","B02537","B02537"],["B02537","B02546","B02546","B02546","B02546",...,"B02107","B02107","B02107","B02107","B02107"],...,["B00887","B02390","B00887","B00887","B00887",...,"B00254","B00254","B00254","B02970","B00254"],["B00254","B00254","B02356","B00254","B00254",...,"B03129","B03157","B03157","B03157","B03177"]]

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037
...,...,...,...,...,...,...,...
1707645,B03129,2019-02-28 23:55:25,2019-03-01 00:06:18,94.0,169.0,NaN,B03129
1707646,B03157,2019-02-28 23:35:26,2019-02-28 23:39:00,264.0,265.0,NaN,B03157
1707647,B03157,2019-02-28 23:13:40,2019-02-28 23:17:24,264.0,265.0,NaN,B03157
1707648,B03157,2019-02-28 23:18:45,2019-02-28 23:56:57,264.0,265.0,NaN,B03157
1707649,B03177,2019-02-28 23:45:40,2019-02-28 23:49:41,264.0,265.0,NaN,B03177

In [2]:
month=2
url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-{month:02d}.parquet'
pd.read_parquet(url)

ArrowInvalid: Casting from timestamp[us] to timestamp[ns] would result in out of bounds timestamp: 33106123800000000